<h1>Search for a movie</h1>

<form action="/results" method="GET">
	<input type="radio" id="ricerca" name="TROVA" value="ricerca" checked>
 	<label for="male">Ricerca estesa</label><br>
	<input type="radio" id="titolo" name="TROVA" value="titolo">
	<label for="titolo">Singolo Titolo</label><br>
	<input type="text" placeholder="termine di ricerca" name="TROVA">
	<input type="submit">
</form>